src/tests/artist.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://samples.soamoa.yesso.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://samples.soamoa.yesso.eu/" name="ArtistRegistryService">
<types>
<xsd:schema>
<xsd:import namespace="http://samples.soamoa.yesso.eu/" schemaLocation="atrist.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="searchArtist">
<part name="artist" type="tns:artist"></part>
</message>
<message name="searchArtistResponse">
<part name="return" type="tns:artistArray"></part>
</message>
<message name="searchArtistViaType">
<part name="artType" type="tns:artType"></part>
</message>
<message name="searchArtistViaTypeResponse">
<part name="return" type="tns:artistArray"></part>

</message>
<message name="searchArtistViaNamePart">
<part name="namePart" type="xsd:string"></part>
</message>
<message name="searchArtistViaNamePartResponse">
<part name="return" type="tns:artistArray"></part>
</message>
<message name="getAll">
<part name="pageSize" type="xsd:int"></part>
<part name="pageNumber" type="xsd:int"></part>
</message>
<message name="getAllResponse">
<part name="return" type="tns:artistArray"></part>
</message>
<message name="addArtist">
<part name="arg0" type="tns:artist"></part>
</message>

<message name="addArtistResponse"></message>
<portType name="YessoTestWebServices">
<operation name="searchArtist">
<input message="tns:searchArtist"></input>
<output message="tns:searchArtistResponse"></output>
</operation>
<operation name="searchArtistViaType">
<input message="tns:searchArtistViaType"></input>
<output message="tns:searchArtistViaTypeResponse"></output>
</operation>
<operation name="searchArtistViaNamePart">
<input message="tns:searchArtistViaNamePart"></input>
<output message="tns:searchArtistViaNamePartResponse"></output>
</operation>
<operation name="getAll" parameterOrder="pageSize pageNumber">
<input message="tns:getAll"></input>
<output message="tns:getAllResponse"></output>

</operation>
<operation name="addArtist">
<input message="tns:addArtist"></input>
<output message="tns:addArtistResponse"></output>
</operation>
</portType>
<binding name="YessoTestWebServicesPortBinding" type="tns:YessoTestWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="searchArtist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</output>
</operation>

<operation name="searchArtistViaType">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</output>
</operation>
<operation name="searchArtistViaNamePart">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</output>

</operation>
<operation name="getAll">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</output>
</operation>
<operation name="addArtist">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://samples.soamoa.yesso.eu/"></soap:body>

</output>
</operation>
</binding>
<service name="ArtistRegistryService">
<port name="YessoTestWebServicesPort" binding="tns:YessoTestWebServicesPortBinding">
<soap:address location="http://soamoa.org:9292/artistRegistry"></soap:address>
</port>
</service>
</definitions>