src/tests/flickr.xsd

<?xml version="1.0" encoding="utf-8"?>
<s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" >
  <s:element name="GroupPoolGetPhotos">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="perPage" type="s:int" />
        <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />

      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="GroupPoolGetPhotosResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GroupPoolGetPhotosResult" type="tns:FlickrLightRequest" />
      </s:sequence>
    </s:complexType>

  </s:element>
  <s:complexType name="FlickrLightRequest">
    <s:complexContent mixed="false">
      <s:extension base="tns:WebserviceRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Items" type="tns:ArrayOfFlickrPhoto" />
        </s:sequence>
      </s:extension>
    </s:complexContent>

  </s:complexType>
  <s:complexType name="WebserviceRequest">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
      <s:element minOccurs="0" maxOccurs="1" name="timeStamp" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="ArrayOfFlickrPhoto">

    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="FlickrPhoto" nillable="true" type="tns:FlickrPhoto" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="FlickrPhoto">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />

      <s:element minOccurs="0" maxOccurs="1" name="SmallUrl" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="MediumUrl" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="LargeUrl" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="OwnerName" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Secret" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Tags" type="s:string" />
    </s:sequence>
  </s:complexType>

  <s:element name="GetPhotosBySet">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="SetId" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="perPage" type="s:int" />
        <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
      </s:sequence>
    </s:complexType>
  </s:element>

  <s:element name="GetPhotosBySetResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GetPhotosBySetResult" type="tns:FlickrLightRequest" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="GetPhotosbyTag">
    <s:complexType>

      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="Tags" type="s:string" />
        <s:element minOccurs="1" maxOccurs="1" name="perPage" type="s:int" />
        <s:element minOccurs="1" maxOccurs="1" name="Page" type="s:int" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="GetPhotosbyTagResponse">
    <s:complexType>

      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GetPhotosbyTagResult" type="tns:FlickrLightRequest" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>
 