src/tests/gate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.latuavacanza.com/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.latuavacanza.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.latuavacanza.com/">
      <s:element name="RichiestaTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>

        </s:complexType>
      </s:element>
      <s:element name="RichiestaTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RichiestaTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="IdentificatoreTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identifier" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

      <s:element name="IdentificatoreTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IdentificatoreTicketResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediAppartamentiLiberi">
        <s:complexType>

          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="inizioPeriodo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finePeriodo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediAppartamentiLiberiResponse">
        <s:complexType>

          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RichiediAppartamentiLiberiResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediRiservazioni">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />

            <s:element minOccurs="0" maxOccurs="1" name="tourOperator" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RichiediRiservazioniResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RichiediRiservazioniResult" type="s:string" />
          </s:sequence>

        </s:complexType>
      </s:element>
      <s:element name="RiservaPeriodo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ticket" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="modulo" type="s:string" />
          </s:sequence>
        </s:complexType>

      </s:element>
      <s:element name="RiservaPeriodoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RiservaPeriodoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />

    </s:schema>
  </wsdl:types>
  <wsdl:message name="RichiestaTicketSoapIn">
    <wsdl:part name="parameters" element="tns:RichiestaTicket" />
  </wsdl:message>
  <wsdl:message name="RichiestaTicketSoapOut">
    <wsdl:part name="parameters" element="tns:RichiestaTicketResponse" />
  </wsdl:message>
  <wsdl:message name="IdentificatoreTicketSoapIn">

    <wsdl:part name="parameters" element="tns:IdentificatoreTicket" />
  </wsdl:message>
  <wsdl:message name="IdentificatoreTicketSoapOut">
    <wsdl:part name="parameters" element="tns:IdentificatoreTicketResponse" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiSoapIn">
    <wsdl:part name="parameters" element="tns:RichiediAppartamentiLiberi" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiSoapOut">

    <wsdl:part name="parameters" element="tns:RichiediAppartamentiLiberiResponse" />
  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniSoapIn">
    <wsdl:part name="parameters" element="tns:RichiediRiservazioni" />
  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniSoapOut">
    <wsdl:part name="parameters" element="tns:RichiediRiservazioniResponse" />
  </wsdl:message>
  <wsdl:message name="RiservaPeriodoSoapIn">

    <wsdl:part name="parameters" element="tns:RiservaPeriodo" />
  </wsdl:message>
  <wsdl:message name="RiservaPeriodoSoapOut">
    <wsdl:part name="parameters" element="tns:RiservaPeriodoResponse" />
  </wsdl:message>
  <wsdl:message name="RichiestaTicketHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>

  <wsdl:message name="RichiestaTicketHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IdentificatoreTicketHttpGetIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="identifier" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IdentificatoreTicketHttpGetOut">

    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiHttpGetIn">
    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="inizioPeriodo" type="s:string" />
    <wsdl:part name="finePeriodo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />

  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniHttpGetIn">
    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="tourOperator" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RiservaPeriodoHttpGetIn">

    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="modulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RiservaPeriodoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RichiestaTicketHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />

  </wsdl:message>
  <wsdl:message name="RichiestaTicketHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="IdentificatoreTicketHttpPostIn">
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="identifier" type="s:string" />
  </wsdl:message>

  <wsdl:message name="IdentificatoreTicketHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiHttpPostIn">
    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="inizioPeriodo" type="s:string" />
    <wsdl:part name="finePeriodo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RichiediAppartamentiLiberiHttpPostOut">

    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniHttpPostIn">
    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="tourOperator" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RichiediRiservazioniHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>

  <wsdl:message name="RiservaPeriodoHttpPostIn">
    <wsdl:part name="ticket" type="s:string" />
    <wsdl:part name="modulo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RiservaPeriodoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TourOperatorSoap">
    <wsdl:operation name="RichiestaTicket">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta del Ticket</wsdl:documentation>
      <wsdl:input message="tns:RichiestaTicketSoapIn" />
      <wsdl:output message="tns:RichiestaTicketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta dell'identificatore</wsdl:documentation>
      <wsdl:input message="tns:IdentificatoreTicketSoapIn" />
      <wsdl:output message="tns:IdentificatoreTicketSoapOut" />

    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco degli appartamenti disponibili in formato Xml.</wsdl:documentation>
      <wsdl:input message="tns:RichiediAppartamentiLiberiSoapIn" />
      <wsdl:output message="tns:RichiediAppartamentiLiberiSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiede  l'elenco delle riservazioni di un Tour Operator.</wsdl:documentation>

      <wsdl:input message="tns:RichiediRiservazioniSoapIn" />
      <wsdl:output message="tns:RichiediRiservazioniSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Riserva un periodo al Tour Operator.</wsdl:documentation>
      <wsdl:input message="tns:RiservaPeriodoSoapIn" />
      <wsdl:output message="tns:RiservaPeriodoSoapOut" />
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:portType name="TourOperatorHttpGet">
    <wsdl:operation name="RichiestaTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta del Ticket</wsdl:documentation>
      <wsdl:input message="tns:RichiestaTicketHttpGetIn" />
      <wsdl:output message="tns:RichiestaTicketHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta dell'identificatore</wsdl:documentation>
      <wsdl:input message="tns:IdentificatoreTicketHttpGetIn" />
      <wsdl:output message="tns:IdentificatoreTicketHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco degli appartamenti disponibili in formato Xml.</wsdl:documentation>
      <wsdl:input message="tns:RichiediAppartamentiLiberiHttpGetIn" />
      <wsdl:output message="tns:RichiediAppartamentiLiberiHttpGetOut" />

    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiede  l'elenco delle riservazioni di un Tour Operator.</wsdl:documentation>
      <wsdl:input message="tns:RichiediRiservazioniHttpGetIn" />
      <wsdl:output message="tns:RichiediRiservazioniHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Riserva un periodo al Tour Operator.</wsdl:documentation>

      <wsdl:input message="tns:RiservaPeriodoHttpGetIn" />
      <wsdl:output message="tns:RiservaPeriodoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TourOperatorHttpPost">
    <wsdl:operation name="RichiestaTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta del Ticket</wsdl:documentation>
      <wsdl:input message="tns:RichiestaTicketHttpPostIn" />

      <wsdl:output message="tns:RichiestaTicketHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiesta dell'identificatore</wsdl:documentation>
      <wsdl:input message="tns:IdentificatoreTicketHttpPostIn" />
      <wsdl:output message="tns:IdentificatoreTicketHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">

      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Restituisce l'elenco degli appartamenti disponibili in formato Xml.</wsdl:documentation>
      <wsdl:input message="tns:RichiediAppartamentiLiberiHttpPostIn" />
      <wsdl:output message="tns:RichiediAppartamentiLiberiHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Richiede  l'elenco delle riservazioni di un Tour Operator.</wsdl:documentation>
      <wsdl:input message="tns:RichiediRiservazioniHttpPostIn" />
      <wsdl:output message="tns:RichiediRiservazioniHttpPostOut" />

    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Riserva un periodo al Tour Operator.</wsdl:documentation>
      <wsdl:input message="tns:RiservaPeriodoHttpPostIn" />
      <wsdl:output message="tns:RiservaPeriodoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TourOperatorSoap" type="tns:TourOperatorSoap">

    <soap:binding transport="http://schemas.xmlsoap.org/soap/ftp" />
    <wsdl:operation name="RichiestaTicket">
      <soap:operation soapAction="http://www.latuavacanza.com/RichiestaTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <soap:operation soapAction="http://www.latuavacanza.com/IdentificatoreTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <soap:operation soapAction="http://www.latuavacanza.com/RichiediAppartamentiLiberi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <soap:operation soapAction="http://www.latuavacanza.com/RichiediRiservazioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <soap:operation soapAction="http://www.latuavacanza.com/RiservaPeriodo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TourOperatorSoap12" type="tns:TourOperatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RichiestaTicket">
      <soap12:operation soapAction="http://www.latuavacanza.com/RichiestaTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>

      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <soap12:operation soapAction="http://www.latuavacanza.com/IdentificatoreTicket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>

      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <soap12:operation soapAction="http://www.latuavacanza.com/RichiediAppartamentiLiberi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>

      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <soap12:operation soapAction="http://www.latuavacanza.com/RichiediRiservazioni" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>

      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <soap12:operation soapAction="http://www.latuavacanza.com/RiservaPeriodo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>

      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TourOperatorHttpGet" type="tns:TourOperatorHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RichiestaTicket">
      <http:operation location="/RichiestaTicket" />

      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <http:operation location="/IdentificatoreTicket" />

      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <http:operation location="/RichiediAppartamentiLiberi" />

      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <http:operation location="/RichiediRiservazioni" />

      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <http:operation location="/RiservaPeriodo" />

      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TourOperatorHttpPost" type="tns:TourOperatorHttpPost">

    <http:binding verb="POST" />
    <wsdl:operation name="RichiestaTicket">
      <http:operation location="/RichiestaTicket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="IdentificatoreTicket">
      <http:operation location="/IdentificatoreTicket" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RichiediAppartamentiLiberi">
      <http:operation location="/RichiediAppartamentiLiberi" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RichiediRiservazioni">
      <http:operation location="/RichiediRiservazioni" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>

    </wsdl:operation>
    <wsdl:operation name="RiservaPeriodo">
      <http:operation location="/RiservaPeriodo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>

    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TourOperator">
    <wsdl:port name="TourOperatorSoap" binding="tns:TourOperatorSoap">
      <soap:address location="http://www.latuavacanza.com/servizi/touroperator.asmx" />
    </wsdl:port>
    <wsdl:port name="TourOperatorSoap12" binding="tns:TourOperatorSoap12">
      <soap12:address location="http://www.latuavacanza.com/servizi/touroperator.asmx" />
    </wsdl:port>

    <wsdl:port name="TourOperatorHttpGet" binding="tns:TourOperatorHttpGet">
      <http:address location="http://www.latuavacanza.com/servizi/touroperator.asmx" />
    </wsdl:port>
    <wsdl:port name="TourOperatorHttpPost" binding="tns:TourOperatorHttpPost">
      <http:address location="http://www.latuavacanza.com/servizi/touroperator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
