src/tests/istes.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="istes" targetNamespace="http://www.netanday.it/istes/"

	xmlns:ist="http://www.netanday.it/istes/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"

	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"

	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/">

	<wsdl:types>

		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

			<xsd:import namespace="http://www.netanday.it/istes/"

				schemaLocation="Tipi.xsd" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="loginRequest">

		<wsdl:part name="idalbergo" type="xsd:int">

			<wsdl:documentation>id della struttura</wsdl:documentation>

		</wsdl:part>

		<wsdl:part name="password" type="xsd:string">

			<wsdl:documentation>

				passowrd assegnata all'albergatore

			</wsdl:documentation>

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="loginResponse">

		<wsdl:part name="sessione" type="xsd:string">

			<wsdl:documentation>

				IDsessione assegnato dal server

			</wsdl:documentation>

		</wsdl:part>


	</wsdl:message>

	<wsdl:message name="getTipologieRequest"></wsdl:message>

	<wsdl:message name="getTipologieResponse">

		<wsdl:part name="tipologie" type="ist:tipologie"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="getEtaRequest"></wsdl:message>

	<wsdl:message name="getEtaResponse">

		<wsdl:part name="fasce-eta" type="ist:fasce-eta"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="getTrattamentiRequest"></wsdl:message>

	<wsdl:message name="getTrattamentiResponse">

		<wsdl:part name="trattamenti" type="ist:trattamenti"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setOccupazioneRequest">

		<wsdl:part name="calendario-occupazione" type="ist:calendario-occupazione">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="setOccupazioneResponse">

		<wsdl:part name="setOccupazioneResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setCameraRequest">

		<wsdl:part name="camera" type="ist:camera"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setCameraResponse">

		<wsdl:part name="setCameraResponse" type="xsd:int"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteCameraRequest">

		<wsdl:part name="codice" type="xsd:string">

			<wsdl:documentation>

				Codice della camera da eliminare

			</wsdl:documentation>

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteCameraResponse">

		<wsdl:part name="deleteCameraResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setRegolaRequest">

		<wsdl:part name="regola" type="ist:regola"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setRegolaResponse">

		<wsdl:part name="setRegolaResponse" type="xsd:string">

			<wsdl:documentation>

				idregola assegnata dal database

			</wsdl:documentation>

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteRegolaRequest">

		<wsdl:part name="regola" type="ist:regola-ridotta"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteRegolaResponse">

		<wsdl:part name="deleteRegolaResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="associaCameraRegolaRequest">

		<wsdl:part name="regola" type="ist:regola"></wsdl:part>

		<wsdl:part name="camera" type="ist:camera"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="associaCameraRegolaResponse">

		<wsdl:part name="associaCameraRegolaResponse" type="xsd:boolean">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="rimuoviAssociazioniCameraRegolaRequest">

		<wsdl:part name="regola" type="ist:regola"></wsdl:part>

		<wsdl:part name="camera" type="ist:camera"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="rimuoviAssociazioniCameraRegolaResponse">

		<wsdl:part name="rimuoviAssociazioniCameraRegolaResponse"

			type="xsd:boolean">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="getDisponibilitaRequest">

		<wsdl:part name="dal" type="xsd:date"></wsdl:part>

		<wsdl:part name="al" type="xsd:date"></wsdl:part>

		<wsdl:part name="interi" type="xsd:int"></wsdl:part>


		<wsdl:part name="ridotti" type="ist:ridotti-web"></wsdl:part>
		<wsdl:part name="culle" type="xsd:int"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getDisponibilitaResponse">

		<wsdl:part name="disponibilita" type="ist:disponibilita"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="checkDisponibilitaRequest">

		<wsdl:part name="dal" type="xsd:date"></wsdl:part>

		<wsdl:part name="al" type="xsd:date"></wsdl:part>

		<wsdl:part name="adulti" type="xsd:int"></wsdl:part>

		<wsdl:part name="culle" type="xsd:int"></wsdl:part>

		<wsdl:part name="ridotti" type="ist:ridotti-web"></wsdl:part>


		<wsdl:part name="camera" type="ist:camera-web"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="checkDisponibilitaResponse">

		<wsdl:part name="checkDisponibilitaResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="ceckDisponibilitaPrenotaRequest">

		<wsdl:part name="dal" type="xsd:date"></wsdl:part>
		<wsdl:part name="al" type="xsd:date"></wsdl:part>
		<wsdl:part name="adulti" type="xsd:int"></wsdl:part>
		<wsdl:part name="culle" type="xsd:int"></wsdl:part>
		<wsdl:part name="ridotti" type="ist:ridotti-web"></wsdl:part>

		<wsdl:part name="camera" type="ist:camera-web-prenotazione"></wsdl:part>







		<wsdl:part name="cliente" type="ist:cliente"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ceckDisponibilitaPrenotaResponse">

		<wsdl:part name="esito" type="xsd:boolean"></wsdl:part>

		<wsdl:part name="idprenotazione" type="xsd:string"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setStagioniRequest">

		<wsdl:part name="setStagioniRequest" type="ist:stagioni"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setStagioniResponse">

		<wsdl:part name="setStagioniResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setCamereRequest">

		<wsdl:part name="setCamereRequest" type="ist:camere"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setCamereResponse">


	</wsdl:message>

	<wsdl:message name="associaCameraRegolaRidottaRequest">

		<wsdl:part name="camera" type="ist:camera"></wsdl:part>

		<wsdl:part name="regola-parziale" type="ist:regola-ridotta"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="associaCameraRegolaRidottaResponse">

		<wsdl:part name="associaCameraRegolaRidottaResponse" type="xsd:boolean"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="rimuoviAssociazioniCameraRequest">

		<wsdl:part name="rimuoviAssociazioniCameraRequest" type="ist:camera"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="rimuoviAssociazioniCameraResponse">

		<wsdl:part name="rimuoviAssociazioniCameraResponse" type="xsd:int"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setTipologieRequest">


		<wsdl:part name="setTiplologieRequest" type="ist:tipologie-short"></wsdl:part>

	</wsdl:message>

	<wsdl:message name="setTipologieResponse">


	</wsdl:message>

	<wsdl:portType name="IstesBackoffice">

		<wsdl:operation name="login">

			<wsdl:documentation>Effettua il login, ritorna l'idsessione assegnato
				in questa sessione di login.
				Puo essere usato come cookieda invivare durante le richieste HTTP
				Il cookie dovrà chimarsi &quot;IstesSession&quot;</wsdl:documentation>

			<wsdl:input message="ist:loginRequest" />

			<wsdl:output message="ist:loginResponse" />

		</wsdl:operation>


		<wsdl:operation name="getEta">

			<wsdl:documentation>Ottiene tutte le fasce d'eta uttilizzabili
				dall'sistema

			</wsdl:documentation>

			<wsdl:input message="ist:getEtaRequest"></wsdl:input>

			<wsdl:output message="ist:getEtaResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getTrattamenti">

			<wsdl:documentation>Ricevi i trattamenti (HB, BB, FB...)
				uttilizzabili dal'albergatore com il quale si è effettuato il login.

			</wsdl:documentation>

			<wsdl:input message="ist:getTrattamentiRequest"></wsdl:input>

			<wsdl:output message="ist:getTrattamentiResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setOccupazione">

			<wsdl:documentation>Imposta sul server l'occupazione ed il minumum
				stay di alcune camere in alcuni giorni.

			</wsdl:documentation>

			<wsdl:input message="ist:setOccupazioneRequest"></wsdl:input>

			<wsdl:output message="ist:setOccupazioneResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setCamera">

			<wsdl:documentation>Imposta una camera. Il codice camera deve essere
				univoco per albergo.

				Se si desidera, si possono anche impostare imedaitamente le regole di
				vendita per la camera
				(le regole devono essere state precedentemente create usando setRegola)


			</wsdl:documentation>

			<wsdl:input message="ist:setCameraRequest"></wsdl:input>

			<wsdl:output message="ist:setCameraResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="deleteCamera">

			<wsdl:documentation>Elimina una camera</wsdl:documentation>

			<wsdl:input message="ist:deleteCameraRequest"></wsdl:input>

			<wsdl:output message="ist:deleteCameraResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setRegola">

			<wsdl:documentation>

				Crea una nuova regola con tanto di prezzi di
				vendita. Se

				la regola esiste già, verra solo aggiornata, in caso

				contrario verrà creata.

			</wsdl:documentation>

			<wsdl:input message="ist:setRegolaRequest"></wsdl:input>

			<wsdl:output message="ist:setRegolaResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="deleteRegola">

			<wsdl:documentation>Elimna una regola</wsdl:documentation>

			<wsdl:input message="ist:deleteRegolaRequest"></wsdl:input>

			<wsdl:output message="ist:deleteRegolaResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="associaCameraRegola">

			<wsdl:documentation>Associa una regola alla camera

			</wsdl:documentation>

			<wsdl:input message="ist:associaCameraRegolaRequest"></wsdl:input>

			<wsdl:output message="ist:associaCameraRegolaResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="rimuoviAssociazioniCameraRegola">

			<wsdl:documentation>Rimuove un associazione Camera-Regola





			</wsdl:documentation>

			<wsdl:input message="ist:rimuoviAssociazioniCameraRegolaRequest">

			</wsdl:input>

			<wsdl:output message="ist:rimuoviAssociazioniCameraRegolaResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setStagioni">

			<wsdl:documentation>Imposta le fascie stagionali con i relativi
				periodi. Le stagioni verrano usate per comporre il listino
			</wsdl:documentation>

			<wsdl:input message="ist:setStagioniRequest"></wsdl:input>

			<wsdl:output message="ist:setStagioniResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setCamere">

			<wsdl:documentation>crea le camera</wsdl:documentation>

			<wsdl:input message="ist:setCamereRequest"></wsdl:input>

			<wsdl:output message="ist:setCamereResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="associaCameraRegolaRidotta">

			<wsdl:documentation>Associazione rapida di una regola con la relativa
				camera</wsdl:documentation>

			<wsdl:input message="ist:associaCameraRegolaRidottaRequest"></wsdl:input>

			<wsdl:output message="ist:associaCameraRegolaRidottaResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="rimuoviAssociazioniCamera">

			<wsdl:documentation>rimuovi un assocazione creata con
				&quot;associaCameraRegolaRidotta&quot; o con
				&quot;associaCameraRegola&quot; </wsdl:documentation>

			<wsdl:input message="ist:rimuoviAssociazioniCameraRequest"></wsdl:input>

			<wsdl:output message="ist:rimuoviAssociazioniCameraResponse"></wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setTipologie">
			<wsdl:documentation>Crea le tipologie di camere. Ogni camera dovrà
				essere associata ad una tipologia e anche ogni regola di vendità
				verra associata ad una tipologia.</wsdl:documentation>
			<wsdl:input message="ist:setTipologieRequest"></wsdl:input>

			<wsdl:output message="ist:setTipologieResponse"></wsdl:output>

		</wsdl:operation>

	</wsdl:portType>


	<wsdl:binding name="istesSOAPFrontBinding" type="ist:IstesBackoffice">

		<soap:binding style="rpc"

			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="login">

			<soap:operation soapAction="http://www.netanday.it/istes/login" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getEta">

			<soap:operation soapAction="http://www.netanday.it/istes/getEta" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="getTrattamenti">

			<soap:operation soapAction="http://www.netanday.it/istes/getTrattamenti" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setOccupazione">

			<soap:operation soapAction="http://www.netanday.it/istes/setOccupazione" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setCamera">

			<soap:operation soapAction="http://www.netanday.it/istes/setCamera" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="deleteCamera">

			<soap:operation soapAction="http://www.netanday.it/istes/deleteCamera" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setRegola">

			<soap:operation soapAction="http://www.netanday.it/istes/setRegola" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="deleteRegola">

			<soap:operation soapAction="http://www.netanday.it/istes/deleteRegola" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="associaCameraRegola">

			<soap:operation soapAction="http://www.netanday.it/istes/associaCameraRegola" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="rimuoviAssociazioniCameraRegola">

			<soap:operation

				soapAction="http://www.netanday.it/istes/rimuoviAssociazioniCameraRegola" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setStagioni">

			<soap:operation soapAction="http://www.netanday.it/istes/setStagioni" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setCamere">

			<soap:operation soapAction="http://www.netanday.it/istes/setCamere" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="associaCameraRegolaRidotta">

			<soap:operation

				soapAction="http://www.netanday.it/istes/associaCameraRegolaRidotta" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="rimuoviAssociazioniCamera">

			<soap:operation

				soapAction="http://www.netanday.it/istes/rimuoviAssociazioniCamera" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="setTipologie">

			<soap:operation soapAction="http://www.netanday.it/istes/setTipologie" />

			<wsdl:input>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:input>

			<wsdl:output>

				<soap:body use="literal" namespace="http://www.netanday.it/istes/" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="IstesMercurio">

		<wsdl:documentation>

			Gestione disponibilita alberghiera istes-mercurio

		</wsdl:documentation>

		<wsdl:port binding="ist:istesSOAPFrontBinding" name="istesSOAP">





			<soap:address

				location="http://hotelbooking-service.mercuriosistemi.com/?service=istes" />

		</wsdl:port>


	</wsdl:service>


</wsdl:definitions>

