tests/easy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:ex="http://www.example.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="easy" targetNamespace="http://www.example.org/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/">
      <xsd:element name="run">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="runResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="header">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="h" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="runRequest">
    <wsdl:part element="ex:run" name="requestParams"/>
    <wsdl:part element="ex:runResponse" name="requestParams2"/>
  </wsdl:message>
  <wsdl:message name="runResponse">
    <wsdl:part element="ex:runResponse" name="responseParams"/>
  </wsdl:message>
  <wsdl:message name="f">
    <wsdl:part element="ex:runResponse" name="faultParams"/>
  </wsdl:message>
  <wsdl:message name="h">
    <wsdl:part element="ex:header" name="headerParams"/>
  </wsdl:message>
  <wsdl:portType name="easy">
    <wsdl:operation name="run">
      <wsdl:input message="ex:runRequest"/>
      <wsdl:output message="ex:runResponse"/>
      <wsdl:fault name="f1" message="ex:f"></wsdl:fault>
      <wsdl:fault name="f2" message="ex:f"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="easySOAP" type="ex:easy">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="run">
          <soap:operation soapAction="http://www.example.org/run" style="document"/>
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
              <soap:header use="literal" part="headerParams" namespace="http://www.example.org/run" message="ex:h">
                <soap:headerfault use="literal" encodingStyle="foo" namespace="http://www.example.org/run" part="headerParams" message="ex:h"/>
              </soap:header>
          </wsdl:output>
          <wsdl:fault name="f1">
            <soap:fault name="sf1"/>
          </wsdl:fault>
          <wsdl:fault name="f2">
            <soap:fault name="sf2"/>
          </wsdl:fault>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="easy">
    <wsdl:port binding="ex:easySOAP" name="easySOAP">
      <soap:address location="http://www.example.org/location"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
